//@import "~normalize.css/normalize.css";

html {
  min-height: 100vh;
}

body {
  height: 100%;
  min-height: 100vh;
  position: relative;
}

h1, h2, h3, h4, h5, h6, strong, b {
  line-height: 1.2;
  font-weight: 600;
}
