<template>
  <div class="language-dropdown flex-center" v-bind:class="{show: isOpen}" v-on-clickaway="away">
    <span
      class="flag-icon flag-icon-large"
      :class="flagIconClass(currentLanguage())" v-on:click="isOpen = !isOpen"
    />
    <div class="dropdown-menu q-popover scroll vuestic-dropdown animate-popup-down" v-bind:class="{show: isOpen}" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item"
         v-for="(option, id) in options"
         :key="id"
         :class="{ active: option.code === currentLanguage() }"
         @click="setLanguage(option.code)"
      >
        <span class="flag-icon flag-icon-small"
              :class="flagIconClass(option.code)"></span>
        <span class="dropdown-item__text ellipsis">
          {{ option.name }}
        </span>
      </a>
    </div>
  </div>
</template>

<script>
import Vue from 'vue';

import VuesticDropdown from "../../../../vuestic-dropdown/VuesticDropdown";
import { mixin as clickaway } from 'vue-clickaway';

export default {
  name: 'language-dropdown',
  components: {VuesticDropdown},
  mixins: [ clickaway ],
  data () {
    return {
      isOpen: false,
    }
  },
  props: {
    options: {
      type: Array,
      default: () => [
        {
          code: 'gb',
          name: 'english',
        },
        {
          code: 'es',
          name: 'spanish',
        },
        {
          code: 'br',
          name: 'brazilian_portuguese',
        },
      ],
    },
  },
  methods: {
    away: function() {
      this.isOpen = false;
    },
    setLanguage (locale) {
      this._i18n._vm.locale = locale;
    },

    currentLanguage () {
      return this._i18n._vm.locale === 'en' ? 'gb' : this._i18n._vm.locale;
    },

    flagIconClass (code) {
      return `flag-icon-${code}`
    },
  },
}
</script>

<style lang="scss">
@import '../../../../../assets/vuestic-theme/vuestic-sass/resources/resources';
@import "../../../../../node_modules/flag-icon-css/css/flag-icon.css";


.language-dropdown {
  cursor: pointer;
  .flag-icon-large {
    display: block;
    width: 31px;
    height: 23px;
  }

  @at-root {
    &__container {
      .flag-icon-small {
        min-width: 22px;
        height: 17px;
        margin-right: 12px;
      }
    }
  }
  .dropdown-menu{
    border-radius: 4px;
    margin-top: 12px;
    right: 0px;
    left: auto;
    max-width: 60px;
    .dropdown-item{
      user-select: none;
    }
  }
}
</style>
