<template>
  <div class="message-dropdown dropdown flex-center" v-bind:class="{show: isOpen}" v-on-clickaway="away">
    <span class="i-nav-messages" v-on:click="isOpen = !isOpen" ></span>
    <div class="dropdown-menu q-popover scroll vuestic-dropdown animate-popup-down" v-bind:class="{show: isOpen}" aria-labelledby="dropdownMenuButton">
      <a v-for="(option, id) in options"
         :key="id"
         class="dropdown-item"
         href="#"
      >
        <span class="ellipsis">{{ $t(`messages.${option.name}`, { name: option.details.name})}}</span>
      </a>
      <div class="dropdown-item plain-link-item">
        <a class="plain-link" href="#">All messages</a>
      </div>
    </div>
  </div>
</template>

<script>
import VuesticDropdown from "../../../../vuestic-dropdown/VuesticDropdown";
import { mixin as clickaway } from 'vue-clickaway';

export default {
  name: 'message-dropdown',
  mixins: [ clickaway ],
  methods: {
    away: function() {
      this.isOpen = false;
    },
  },
  components: {
    VuesticDropdown
  },
  data () {
    return {
      isOpen: false,
    }
  },
  props: {
    options: {
      type: Array,
      default: () => [
        {
          name: 'new',
          details: { name: 'Oleg M' },
        },
        {
          name: 'new',
          details: { name: 'Andrei H' },
        },
      ],
    },
  },
}
</script>

<style lang="scss">
  @import '../../../../../assets/vuestic-theme/vuestic-sass/resources/resources';

.message-dropdown {
  cursor: pointer;

  .i-nav-messages {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      right: -6px;
      top: -6px;
      background-color: $brand-primary;
      height: 12px;
      width: 12px;
      border-radius: 50%;
    }
  }
  .dropdown-menu{
    border-radius: 4px;
    margin-top: 12px;
    right: 0px;
    left: auto;
    max-width: 60px;
    .dropdown-item{
      user-select: none;
    }
  }
}
</style>
