<template>
  <div class="notification-dropdown flex-center" v-bind:class="{show: isOpen}" v-on-clickaway="away">
    <span class="i-nav-notification" v-on:click="isOpen = !isOpen"></span>
      <div class="dropdown-menu q-popover scroll vuestic-dropdown animate-popup-down" v-bind:class="{show: isOpen}" aria-labelledby="dropdownMenuButton">
        <a v-for="(option, id) in options" :key="id" class="dropdown-item"
           href="#">
          <span class="ellipsis">{{$t(`notifications.${option.name}`,
            { name: option.details.name, type: option.details.type })}}
          </span>
        </a>
        <div class="dropdown-item plain-link-item">
          <a class="plain-link" href="#">{{ $t('notifications.all') }}</a>
        </div>
      </div>
  </div>
</template>

<script>
import VuesticDropdown from "../../../../vuestic-dropdown/VuesticDropdown";
import { mixin as clickaway } from 'vue-clickaway';

export default {
  name: 'notification-dropdown',
  components: {VuesticDropdown},
  mixins: [ clickaway ],
  methods: {
    away: function() {
      this.isOpen = false;
    },
  },
  data () {
    return {
      isOpen: false,
    }
  },
  props: {
    options: {
      type: Array,
      default: () => [
        {
          name: 'sentMessage',
          details: { name: 'Vasily S' },
        },
        {
          name: 'uploadedZip',
          details: { name: 'Oleg M', type: 'typography component' },
        },
        {
          name: 'startedTopic',
          details: { name: 'Andrei H' },
        },
      ],
    },
  },
}
</script>

<style lang="scss">
  @import '../../../../../assets/vuestic-theme/vuestic-sass/resources/resources';

.notification-dropdown {
  cursor: pointer;

  @at-root {
    .notification-dropdown__list {
      width: 250px;
    }
  }

  .i-nav-notification {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      right: -4px;
      top: 0;
      background-color: $brand-primary;
      height: 12px;
      width: 12px;
      border-radius: 50%;
    }
  }
  .dropdown-menu{
    border-radius: 4px;
    margin-top: 12px;
    right: 0px;
    left: auto;
    max-width: 60px;
    .dropdown-item{
      user-select: none;
    }
  }
}
</style>
